ChangeLog
\#*
.\#*
TAGS
*~
vendor/.git

# SOLR index files:
_*
segments_*
segments.gen
write.lock
alphabetical_browse
tlog.*

# Compiled CSS
compiled.css

# Server specific configuration files
local/httpd-vufind.conf
httpd-vufind.conf
httpd-vufind-vhosts.conf
local_overrides
start-vufind.sh

# Ignore documentation
public/doc
