ChangeLog
\#*
.\#*
TAGS
*~
vendor/.git

# SOLR index files:
_*
segments_*
segments.gen
write.lock
alphabetical_browse
tlog.*

# Server specific configuration files
httpd-vufind.conf
httpd-vufind-vhosts.conf
local_overrides
start-vufind.sh

# Ignore documentation
public/doc

# Eclipse IDE
.classpath
.project
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.buildpath
.target
