ChangeLog
\#*
.\#*
TAGS
*~
vendor/.git
local/cache/
local/ixTheo/cache
local/relBib/cache
local/bibStudies/cache

# SOLR index files:
_*
segments_*
segments.gen
write.lock
alphabetical_browse
tlog.*

# Logs
*.log
*.log.1

# Compiled CSS
compiled.css

# Server specific configuration files
httpd-vufind.conf
httpd-vufind-vhosts.conf
local_overrides
start-vufind.sh
public/.htaccess

# Ignore documentation
public/doc

# Eclipse IDE
.classpath
.project
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.buildpath
.target
nbproject

MultiLanguageDocTransformerFactory.jar
MultiLanguageQueryParser.jar
KeywordChainParser.jar
BibleRangeParser.jar
TuelibSolrmarcMixin.jar
FacetPrefixSortComponent.jar
/vendor
composer.lock
composer.phar
import/solrmarc.log
node_modules
phpinfo.php
